 <%= form_for @passage do |f| %>
    <p>
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </p>

    <p>
      <%= f.label :author %><br>
      <%= f.text_field :author %>
    </p>
    
    <p>
      <%= f.label :body %><br>
      <%= f.text_area :body %>
    </p>

    <p>
      <%= f.label :link %>
      <%= f.text_field :link, placeholder: "http://example.com" %>
    </p>
    
    <p>
      <%= f.label :tag_list, "Tags (separate by commas)" %>
      <%= f.text_field :tag_list %>
    </p>

    <p>
      <%= f.submit :submit %>
    </p>

<% end %>