<div class="pure-form pure-form-aligned">
  <fieldset>
    <%= form_for @passage do |f| %>
        <div class="pure-control-group">
          <%= f.label :title %>
          <%= f.text_field :title %>
        </div>

        <div class="pure-control-group" >
          <%= f.label :author %>
          <%= f.text_field :author %>
        </div>
        
        <div class="pure-control-group">
          <%= f.label :body %>
          <%= f.text_area :body, class: "styled" %>
        </div>

        <div class="pure-control-group">
          <%= f.label :link %>
          <%= f.text_field :link, placeholder: "http://example.com" %>
        </div>
        
        <div class="pure-control-group">
          <%= f.label :tag_list, "Tags (separate by commas)" %>
          <%= f.text_field :tag_list %>
        </div>
  
        <div class="pure-controls">
          <%= f.submit :submit, class: "pure-button" %>
        </div>

    <% end %>
  </fieldset>
</div>