<div class="content pure-u-1 pure-u-md-3-4">
  <div class="header">
    <h1 class="brand-title">All Entries</h1>
  </div>
  <br>
  <div id="tag_cloud">
    <% tag_cloud @current_user.passages.tag_counts, %w{s m l} do |tag, css_class| %>
      <%= link_to tag.name, tag_path(tag.name), class: css_class %>
    <% end %>
  </div>

  <% @passages.each do |passage| %>
      <div class="pure-u-1-4" id="passage-grid">
        <h4><%= link_to passage.title, passage_path(passage) %></h4>
        <p><%= truncate passage.body, length: 200 %></p>
        <h5>&mdash; <%= passage.author %></h5>
        <p>
          Tags: <%= raw passage.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
        </p>
        <p class="date">
          <%= passage.created_at.to_s(:short) %>
        </p>
      </div>
  <% end %>
</main>