<article>
  <h1><%= @passage.title %> </h1>  
  <h3><%= @passage.author %> </h3>
  <p><%= @passage.body %> </p>
  <p>
    <%= link_to "#{@passage.link}", @passage.link, target: "_blank" %>
    <%= @passage.created_at.to_s(:short) %>
    Tags: <%= @passage.tag_list %>
  </p>
</article>

<%= link_to "Edit this entry", edit_passage_path(@passage)  %>