<!DOCTYPE html>
<html>
<head>
  <title>Elsi</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta charset="UTF-8" />
</head>
<body>

<div class="login-status">
  <% if current_user %>
    Signed in as <%= current_user.username %> | <%= link_to "Logout", '/logout' %>
  <% else %>
    <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
  <% end %>
</div>

<%= render 'shared/nav' %>

<%= yield %>

</body>
</html>
